<% provide(:title, "Top") %>

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

<div class="row">
 <div class="col-md-7">

  <div class="center jombotron">
    <h1 id="top-main-title">TaskApp</h1>
    <p>TaskAppは簡易ToDo管理ツールです。</p>

    <p>↓↓初めてのご利用↓↓</p>

    <%= link_to "アカウント作成", signup_path, class: "btn btn-lg btn-success" %>
    <div style="margin-top: 10px">
      <%= link_to "ゲストログイン管理権限", login_path, class: "btn btn-danger" %>
      <%= link_to "ゲストログイン一般権限", login_path, class: "btn btn-warning" %>
    </div>
    
  </div>
 </div>

  

  <div class="col-md-4">
 
        <h1>ログイン</h1>
  
      <%= form_with(model: @user, local: true) do |f| %>
        <%= f.label :email, class: "label-form" %>
        <%= f.email_field :email, class: "form-control" %>
      
        <%= f.label :password, class: "label-form" %>
        <%= f.password_field :password, class: "form-control" %>
      
        <p>ログイン情報を記憶する</p>
      
        <%= f.submit "ログイン", class: "btn btn-primary btn-block btn-form" %>
      <% end %>
  </div>

</div>
